/**

  This file is part of All Mangas Reader.
  
  All Mangas Reader is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  All Mangas Reader is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with All Mangas Reader.  If not, see <http://www.gnu.org/licenses/>. 

*/

.button {
  max-width: 300px;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  padding: 4px;
}
.button img {
  margin-left:5px;
  vertical-align:middle;
}

.resImpDiv {
  text-align:center;
}

.resImport {
  font-weight:bold;
  margin-right:10px;
}
.ongletCont {
  -webkit-transition: all .4s ease-in-out;
  margin-top:-3px;
}