/**

  This file is part of All Mangas Reader.
  
  All Mangas Reader is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  All Mangas Reader is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with All Mangas Reader.  If not, see <http://www.gnu.org/licenses/>. 

*/

#results thead {
  background-color:#EEEEEE;
  font-weight:bold;
}
#results thead * td {
  text-align: center;
}
#results tbody tr.odd {
  background-color:#FAFABB;
}
#results tbody tr.even {
  background-color:#EBEBBB;
}

#results * td {
  font-size:8pt;
}
.article * {
  color:black;
}

.globerrors {
  display: none;
}
.globerrors li {
  font-size:8pt;
  color: red;
}
#testinfos {
  word-break: break-word;
}
.bottominfo {
  margin-top:10px;
  font-size:10pt;
  text-align:center;
}
