#results thead {
  background-color:#EEEEEE;
  font-weight:bold;
}
#results thead * td {
  text-align: center;
}
#results tbody tr.odd {
  background-color:#FAFABB;
}
#results tbody tr.even {
  background-color:#EBEBBB;
}

#results * td {
  font-size:8pt;
}
.article * {
  color:black;
}

.globerrors {
  display: none;
}
.globerrors li {
  font-size:8pt;
  color: red;
}
#testinfos {
  word-break: break-word;
}
.bottominfo {
  margin-top:10px;
  font-size:10pt;
  text-align:center;
}
