/**

  This file is part of All Mangas Reader.
  
  All Mangas Reader is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  All Mangas Reader is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with All Mangas Reader.  If not, see <http://www.gnu.org/licenses/>. 

*/

html{
  width: auto; 
  height: auto;
}

body {
  font-family: Arial;
  font-size: 8pt;
  color: black;
  /*white-space:pre-line;*/
  overflow:hidden;
  background-color: white;
  min-width:550px;
  margin:2px;
  max-width:800px;
}
body.medium {
  min-width:650px;
  max-width:900px;
}
body.big {
  min-width:750px;
  max-width:1000px;
}
/* Main containers */
#header {
  height:26px;
}

#title {
  display:inline-block;
  padding-bottom:2px;
}

#title h3 {
  font-size: 14px;
  display: inline-block;
  padding:0;
  margin:0;
  color: black;
  vertical-align:middle;
  padding-left:4px;
}

#title img {
  vertical-align:middle;
}

#access {
  /*position:absolute;
  right:0;
  top:0;*/
  float:right;
  height:24px;
}
#accessbar {
  float:left;
  margin-top:2px;
}

#access ul, #accessbar ul {
  margin:0;
  padding:0;
}

#access ul li, #accessbar ul li {
  list-style-type: none;
  display:inline-block;
  margin-right: 5px;
}

#access ul li img  {
  padding-top:5px;
  cursor:pointer;
}
#accessbar ul li img {
  cursor:pointer;
  vertical-align:middle;
}
#access ul li#dev, #access ul li#release {
  display: none;
}
#accessbar ul {
  background-color:#E0E0FF;
  border-radius:4px;
  margin-right:5px;
  display:inline-block;
  padding:3px;
  padding-left:4px;
  padding-right:4px;
}
#accessbar ul li {
  margin-right: 2px;
  margin-left: 2px;
}
#main {
  margin-top:4px;
  margin-bottom:0px;
  max-height:400px;
  overflow:auto;
  padding-right:1px;
}


.externHeader {
  position: fixed;
  top:2px;
  height:32px;
  width:800px;
  z-index:1000;
}
.externMangaList {
  position: fixed;
  top:32px;
  bottom:0px;
  width:800px;
}
.externFooter {
  position: fixed;
  top:32px;
  width:800px;
  z-index:1000;
}
.externMain {
  position: fixed;
  bottom:70px;
  /*padding-bottom:50px;*/
  top:70px;
  width:800px;
  z-index:100;
  overflow:auto;
}
.externFootact {
  position: fixed;
  bottom:0px;
  width:800px;
  z-index:1000;
  /*background-color:white;*/
}
.externSearch {
  position: fixed;
  top:32px;
  bottom:0px;
  width:800px;
}
/* Selects */
.list .manga .mgmirroricon + .custom-select {
    width: 92.5% !important
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 95%;
}

select {
  display: inline-block;
  font: inherit;
  outline:none; 
  padding: 0px 12px 0px 0px;
  -webkit-appearance:none; 
  border-radius: 4px;
}

.custom-select:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 90%;
  line-height: 19px;
  padding: 0 3px;

  pointer-events:none;
  border-radius: 0 4px 4px 0;
}

/* Categories management */
#cats {
  margin:2px;
  padding:0;
  max-height:36px;
  width:100%;
  overflow:auto;
  list-style-type:none;
}
.category, .mgcategory {
  border-radius:4px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAA), to(#CCC));
  border: 1px solid #DDD;
  color: #555;
  display:inline-block;
  padding-left:4px;
  padding-right: 4px;
  cursor:pointer;
  margin-bottom:2px;
  margin-left:1px;
  margin-right:1px;
  min-width:20px;
  text-align:center;
  font-size:8pt;
  text-decoration:none;
}
.category.empty {
  border:0;
}
.category:hover {
  border:1px solid #3278BE;
}
.category.include, .mgcategory {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#FFF));
  color: black;
  text-decoration:none;
}
.category.exclude {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#FFF));
  color: black;
  text-decoration:line-through;
}
.mgcategory{
  cursor:default;
}
.category img, .mgcategory img {
  vertical-align:middle;
  margin-left:2px;
  cursor:pointer;
}
.category.drop {
  border:1px solid red;
}
.addcategory, .clearcategory {
  width: 10px;
  min-width: 10px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#FFF));
  color: black;
  text-decoration:none;
}
.category input {
  border:0;
  font-size:7pt;
}
/* Manga management list mode */
.list .manga {
  display: block;
  background-color: #DDDDFF;
  padding: 2px;
  margin-bottom: 1px;
  color: #0000AA;
}
.list .manga.drop {
  border: 1px solid #FF0000;
  padding:1px;
}
.list .manga.new {
  background-color: #FFDDDD;
  color: #AA0000;
}
.list .manga.read {
  background-color: #DDDDDD;
  color: #555555;
}
.list .manga.first {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}
.list .manga.last {
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
}
.list .manga .mgtable {
  display:table;
  width: 100%;
}
.list .manga .mgtable .mgline {
  display:table-row;
}
.list .manga .mgtable .mgline.next .mglist {
  padding-top:1px;
  padding-bottom:1px;
}
.list .manga .mgtitle {
  display:table-cell;
  width:150px;
  background-color: #CCCCFF;
  border-radius:4px;
  padding-left:2px;
}
body.medium .list .manga .mgtitle {
  width:200px;
}
body.big .list .manga .mgtitle {
  width:250px;
}
.list .manga.new .mgtitle {
  background-color: #FFCCCC;
}
.list .manga.read .mgtitle {
  background-color: #CCCCCC;
}
.list .manga .mgline.next .mgtitle {
  background-color: #DDDDFF;
}
.list .manga.new .mgline.next .mgtitle {
  background-color: #FFDDDD;
}
.list .manga.read .mgline.next .mgtitle {
  background-color: #DDDDDD;
}

.list .manga .mgline {
  background-color: #DDDDFF;
  color: #0000AA;
}
.list .manga .mgline.new {
  background-color: #FFDDDD;
  color: #AA0000;
}
.list .manga .mgline.read {
  background-color: #DDDDDD;
  color: #555555;
}

.list .manga .mgtitle .mgtitlehead {
  display:inline-block;
}
.list .manga .mgtitle .mgtitlehead img {
  vertical-align:middle;
}
.list .manga .mgtitle .mgtitlehead span {
  padding:0;
  margin:0;
  font-weight:bold;
  font-size:9pt;
  padding-left: 4px;
  vertical-align:middle;
  cursor:pointer;
}
.list .manga .mgtitle .mgtitlehead .multiplemgs {
  cursor:pointer;
}
.list .manga .mgmirroricon {
  cursor:pointer;
}
.list .manga .mgtitle .mgtitleheadpics {
  display:block;
  float:right;
  margin-right:2px;
  margin-top:1px;
}
.list .manga .mgtitle .mgtitleheadpics img {
  vertical-align:middle;
  cursor:pointer;
  margin-right:2px;
}
.list .manga .mglist {
  display:table-cell;
  vertical-align: middle;
  margin-right:auto;
  width:auto;
}
.list .manga .mglist img {
  padding-left:2px;
  vertical-align:middle;
}
.list .manga .mglist span {
  padding-left:3px;
}
.list .manga .mglist span.custom-select {
  padding-left:0px;
}
.list .manga .mgactions {
  display:table-cell;
  vertical-align: middle;
  width:128px;
  margin-right:2px;
}
.list .manga .mgactions img {
  vertical-align:middle;
  margin-right:2px;
  cursor:pointer;
}

/* Manga management block mode */
.block .manga {
  display: block;
  background-color: #DDDDFF;
  padding: 2px;
  margin-bottom: 2px;
  border-radius:4px;
  border:1px solid #ABC;
  color: #0000AA;
}
.block .manga.drop {
  border: 1px solid #FF0000;
}
.block .manga.new {
  background-color: #FFDDDD;
  color: #AA0000;
}
.block .manga.read {
  background-color: #DDDDDD;
  color: #555555;
}
.manga {
  position: relative;
}
.block .manga .mgtitle {
  display:block;
  background-color: #CCCCFF;
  border-radius:4px;
  padding-left:2px;
}
.block .manga.new .mgtitle {
  background-color: #FFCCCC;
} 
.block .manga.read .mgtitle {
  background-color: #CCCCCC;
}

.block .manga .mgelt .mgtitle {
  display:block;
  background-color: #CCCCFF;
  border-radius:4px;
  padding-left:2px;
}
.block .manga .mgelt.new .mgtitle {
  background-color: #FFCCCC;
}
.block .manga .mgelt.read .mgtitle {
  background-color: #CCCCCC;
}

.block .manga .mgtitle .mgtitlehead {
  display:inline-block;
}
.block .manga .mgtitle .mgtitlehead img {
  vertical-align:middle;
}
.block .manga .mgtitle .mgtitlehead span {
  padding:0;
  margin:0;
  font-weight:bold;
  font-size:9pt;
  padding-left: 4px;
  vertical-align:middle;
  cursor:pointer;
}
.block .manga .mgtitle .mgtitlehead .multiplemgs {
  cursor:pointer;
}
.block .manga .mgmirroricon {
  cursor:pointer;
}
.block .manga .mgtitle .mgtitleheadpics {
  display:inline-block;
}
.block .manga .mgtitle .mgtitleheadpics img {
  vertical-align:middle;
  cursor:pointer;
  margin-right:2px;
}
.block .manga .mgactions {
  display:block;
  float:right;
  vertical-align: middle;
  width:128px;
  margin-right:2px;
}
.block .manga .mgactions img {
  vertical-align:middle;
  margin-right:2px;
  cursor:pointer;
}

.block .manga .mgfirstfloatimg {
  float:left;
  display:inline-block;
  position: relative;
}
.block .manga .mgtable {
  display:table;
  margin-left: auto;
  margin-right:auto;
  margin-top:0px;
  margin-bottom:2px;
  vertical-align: middle;
  background-color: #D5D5FF;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:2px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.block .manga.new .mgtable {
  background-color: #FFD5D5;
}
.block .manga.read .mgtable {
  background-color: #D5D5D5;
}

.block .manga .mgelt .mgtable {
  background-color: #D5D5FF;
  color: #0000AA;
}
.block .manga .mgelt.new .mgtable {
  background-color: #FFD5D5;
  color: #AA0000;
}
.block .manga .mgelt.read .mgtable {
  background-color: #D5D5D5;
  color: #555555;
}

.block .manga .mgtable .mgline {
  display: table-row;
}
.block .manga .mglist {
  display:table-cell;
  text-align:left;
}
.block .manga .label {
  display:table-cell;
  text-align:right;
}
.block .manga .value {
  display:table-cell;
  text-align:left;
  padding-left:4px;
  cursor: pointer;
}
/* Common List / Block */
/* Buttons */

.manga .button, .mainbutton, .button {
  padding: 3px;
  border-radius: 4px;
  background: #EEEEFF;
  color: #0000AA;
  border: 1px solid #9999FF;
  display:inline-block;
  cursor:pointer;
  min-width:40px;
  margin-left:1px;
  margin-right:1px;
  text-align:center;
}
.manga .button, .button {
  padding-left:5px;
  padding-right:5px;
}
.manga .button img, .button img {
  margin-left:4px;
  vertical-align:middle;
}

.manga.new .button {
  background: #FFEEEE;
  color: #AA0000;
  border: 1px solid #FF9999;
}
.manga.read .button {
  background: #EEEEEE;
  color: #555555;
  border: 1px solid #999999;
}
.manga .button:hover, .button:hover {
  padding: 2px;
  padding-left:4px;
  padding-right:4px;
  border-width:2px;
}
.manga .button:active, .mainbutton:active, .button:active {
  background: #DDDDFF;
}
.manga.new .button:active {
  background: #FFDDDD;
}
.manga.read .button:active {
  background: #DDDDDD;
} 
.mainbutton {
  vertical-align:middle;
  padding-left:6px;
  padding-right:6px;
}
.mainbutton:hover {
  padding: 3px;
  border-width:2px;
  padding-left:5px;
  padding-right:5px;
}
.mainbutton.checked:hover {
  padding: 3px;
  padding-left:6px;
  padding-right:6px;
  border-width:2px; 
}
.mainbutton.checked {
  background: #F5F5FF;
  border: 2px solid #CCCCFF;
  font-weight:bold;
}
.mainbuttons {
  /*margin-left:5px;*/
  display:inline-block;
}

.globalquestion {
  text-align:center;
  border-radius: 4px;
  background-color: #EEEEFF;
  padding-top:2px;
  padding-bottom:2px;
}
.desactivate {
  background-color: #FFEEEE;
  font-weight:bold;
}
/* Selects */
.manga select {
  border:1px solid #BBBBFF;
  background-color:#EEEEFF;
  font-size:8pt;
  height:18px;
  width: 100%;
  /*word-wrap:break-word;*/
}
body.medium .manga select {
  max-width:280px;
}
body.big .manga select {
  max-width:330px;
}
.manga.new select {
  background-color:#FFEEEE;
  border:1px solid #FFBBBB;
}
.manga.read select {
  background-color:#EEEEEE;
  border:1px solid #BBBBBB;
}
.manga .custom-select:after {
  background: #BBBBFF;
  color: #0000AA;
}
.manga.new .custom-select:after {
  background: #FFBBBB;
  color: #AA0000;
}
.manga.read .custom-select:after {
  background: #BBBBBB;
  color: #555555;
}

.manga .mgelt .mglist select, .list .manga .mgline select {
  border:1px solid #BBBBFF;
  background-color:#EEEEFF;
}
.manga .mgelt.new .mglist select, .list .manga .mgline.new select {
  background-color:#FFEEEE;
  border:1px solid #FFBBBB;
}
.manga .mgelt.read .mglist select, .list .manga .mgline.read select {
  background-color:#EEEEEE;
  border:1px solid #BBBBBB;
}
.manga .mgelt .custom-select:after, .list .manga .mgline .custom-select:after {
  background: #BBBBFF;
  color: #0000AA;
}
.manga .mgelt.new .custom-select:after, .list .manga .mgline.new .custom-select:after {
  background: #FFBBBB;
  color: #AA0000;
}
.manga .mgelt.read .custom-select:after, .list .manga .mgline.read .custom-select:after {
  background: #BBBBBB;
  color: #555555;
}

/* Others */
.manga .mgothers {
  background-color:#CCCCFF;
  display:block;
  padding:2px;
  border-radius:4px;
}
.manga.new .mgothers {
  background-color:#FFCCCC;
}
.manga.read .mgothers {
  background-color:#CCCCCC;
}
.manga .mgothers.hide {
  display:none;
}
.manga .mgothers .mgotherscont {
  text-align:right;
  margin-bottom:1px;
}
.manga .question, .manga .questionreset {
  text-align:center;
}
.manga .mgothers .mgotherscont .mginfos td:nth-child(1) {
  text-align:left;
}
.manga .mgothers .mgotherscont .mginfos td:nth-child(2) {
  text-align:right;
}
.manga .mgprogress {
  display:inline-block;
  width:100px;
  height:8px;
  vertical-align:middle;
  margin-right:3px;
  background: #EEEEFF;
  border-color: #9999FF;
}
.manga .mgprogress div {
  background: #AAAAFF;
  border-color: #9999FF;
}
.manga.new .mgprogress {
  background: #FFEEEE;
  border-color: #FF9999;
}
.manga.new .mgprogress div {
  background: #FFAAAA;
  border-color: #FF9999;
}
.manga.read .mgprogress {
  background: #EEEEEE;
  border-color: #999999;
}
.manga.read .mgprogress div {
  background: #AAAAAA;
  border-color: #999999;
}

.manga .mgotherscont .mginfos, .manga .mgotherscont .mginfos tr {
  width:100%;
}
.manga .mgotherscont .mginfos .mginfo {
  display:inline-block;
}

.stopupdate {
  /*opacity:0.5;*/
  -webkit-filter: contrast(85%);  
}
/* Scrollbars
-----------------------------------*/
::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    border-bottom-left-radius: 5px 5px !important;
    border-bottom-right-radius: 5px 5px !important;
    border-top-left-radius: 5px 5px !important;
    border-top-right-radius: 5px 5px !important;
    height: 0px !important;
    display: block !important;
    background-color: transparent !important;
}

::-webkit-scrollbar-track-piece {
    background-color: #EEE !important;
    border-bottom-left-radius: 5px 5px !important;
    border-bottom-right-radius: 5px 5px !important;
    border-top-left-radius: 5px 5px !important;
    border-top-right-radius: 5px 5px !important;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    height: 50px !important;
    background-color: #9a9a9a !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #5e5e5e !important;
}

::-webkit-scrollbar-corner {
    display: none !important;
    background-color: #FFF !important;
}

/* Search */
#search table {
  width:100%;
}
#search .block {
  border: 1px solid #ABC;
  border-radius:4px;
  width:100%;
}
#search .block .title {
  margin:4px;
  font-size:9pt;
  font-weight:bold;
}
#search .block table {
  width:100%;
}
#search #allres, #search #allres tr, #search #allres tbody {
  display:block;
  width:100%;
}

#search #allres {
  overflow: auto;
  max-height:300px;
}
#search #allres tr td {
  display:inline-block;
}
#search tr.odd {
  background-color:#CCCCFF;
}

#search tr.even {
  background-color:#DDDDFF;
}
#search tr.lastLine {
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px; 
}
#search tr.firstLine {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px; 
}
#search td.mangaName {
  width:60%;
  color:black;
}
#search #allres tr td.listMirror {
  text-align:left;
  width:39%;
}

#search #results * img {
  vertical-align: middle;
  margin-right:5px;
  cursor:pointer;
}

#search .imgSearch {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-left:10px;
	margin-top:8px; 
	padding-left:20px;
	background-image: url(../img/find.png);
}

#search #coverLoadServer {
	display: none;
}

#search #nbRes, #search #nores {
  font-weight:bold;
  width:100%;
  text-align:center;
  margin-bottom:10px; 
}
#search #filMirrors {
  text-align:center;
}
#search .mirrorF {
  display:inline-block;
}
#search .mirrorStatus {
  text-align:center!important;
  height:14px;
}

#search .mirrorIcon img {
  opacity: 1;
}
#search .mirrorIcon img.disabled {
  opacity: 0.3;
}
#search #selectors {
  display:inline-block;
  text-align:right;
  float:right;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px; 
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px; 
  background-color:#CCCCFF;
  padding-left:5px;
  padding-right:5px;
}
#search #selectors img {
  vertical-align:middle;
  margin-right: 5px;
  cursor:pointer;
}
#search #searchBox p {
  font-size:8pt;
  margin:0;
}
#search #selectors select {
  font-size:9pt;
  border:1px solid #BBBBFF;
  background-color:#EEEEFF;
  font-size:8pt;
  height:18px;
  max-width:250px;
}
#search #selectors .custom-select:after {
  background: #BBBBFF;
  color: #0000AA;
}
#search input {
  border:none;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px; 
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px; 
  background-color:#DDDDFF;
  font-size:9pt;
  padding:2px;
}

#nomangas {
  font-size:10pt;
  text-align:center;
}

#search .optmgsearch {
  float:right;
  border-radius:4px;
  background-color:#EEEEFF;
  padding:2px;
  padding-right:0;
}
#search .optmgsearch img {
  margin-right:2px;
  cursor:pointer;
}

#search .eltmirrorsearch {
  display:inline-block;
  border-radius:4px;
  background-color:#EEEEFF;
  padding:1px;
  margin-right:2px;
  margin-bottom:2px;
  padding-left:4px;
}

#search #results * img.addsinglemg {
  margin-right:1px;
  padding-right:0;
}

#desactivateLink {
  text-decoration:underline;
  color:blue;
  cursor:pointer;
}

.lastupdatedate {
  margin-left:4px;
  width:16px;
  margin-top:1px;
}
