/**

  This file is part of All Mangas Reader.
  
  All Mangas Reader is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  All Mangas Reader is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with All Mangas Reader.  If not, see <http://www.gnu.org/licenses/>. 

*/

.glob {
  width:100%;
  border-spacing:10px;
}
.glob td {
  vertical-align:top;
}
.tbstat {
  width:100%;
}
.tbstat, .tbstat tr {
  border-spacing:0;
}
.tbstat tr td {
  font-size:8pt;
  padding:2px;
  color:black;
}
.tbstat thead tr {
  background-color:#BBBBFF;
}
.tbstat thead td {
  vertical-align: middle;
  text-align:center;
  color:white;
  font-weight:bold;
}

.tbstat tr td.times {
  text-align:right;
}

.tbstat tr.odd {
  background-color:#CCCCFF;
}

.tbstat tr.even {
  background-color:#DDDDFF;
}
.tbstat tr.lastLine {
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
}
.tbstat tr.firstLine {
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}
select {
  border:none;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  background-color:#DDDDFF;
  font-size:9pt;
}
a.link {
  font-weight:bold;
  cursor:pointer;
}
.tbstat td img {
  cursor:pointer;
}
.tbstat td.buttontd {
  vertical-align:middle;
}
.ongletCont {
 -webkit-transition: all .4s ease-in-out;
 margin-top:-3px;
}